@import "styles/variables";

.iconText {
  p {
    margin: 0;
  }
  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: $white;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $containerColor;
      text-decoration: none;
    }
  }
  &__icon {
    margin-right: 20px;
  }
}
