$facebookButton: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png");

//COLORS
$containerColor: #edc7b7;
$accentColor: #ac3b61;
$gray: #bab2b5;
$blue: #123c69;
$black: #000000;
$white: #f8f8ff;
//Breakpoints
$tablet: 767px;
//Overriden styles
.jumbotron {
  background-color: $containerColor;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  height: calc(100vh - 192px - 16vh);
  align-items: center;
  display: flex;
}
