$facebookButton: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png");

//COLORS
$containerColor: #edc7b7;
$accentColor: #ac3b61;
$gray: #bab2b5;
$blue: #123c69;
$black: #000000;
$white: #f8f8ff;
$lime: #b0eb00;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$cod-gray: #111;
$pastel-pink: #ffd1dc;
//Breakpoints
$tablet: 767px;
//Misc
$footer-height: 15rem;
