@import "styles/variables";
.loginBtn--facebook {
  width: 100%;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
  background-color: #4c69ba;
  text-shadow: 0 -1px 0 #354c8c;
  transition: background-color 0.3s ease-in-out;
  &:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
  }
  &:before {
    border-right: #364e92 1px solid;
    background: $facebookButton 6px 6px no-repeat;
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  &:hover,
  &:focus {
    background-color: #5b7bd5;
  }
}
.navbar__container {
  background-color: $accentColor;
}
