@import "styles/variables";
.jumbotron {
  background-color: $containerColor;
}
.grid-container {
  display: flex;
  flex-direction: column-reverse;
  .landing-image {
    max-width: 100%;
    object-fit: contain;
  }

  &__text {
    margin-top: 24px;
    padding-top: 24px;
    text-align: center;
    border-top: 1px solid black;
    &--title {
      margin-bottom: 24px;
    }
  }

  @media screen and (min-width: $tablet) {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    &__text {
      grid-area: 1/2/2/3;
      border: none;
      text-align: left;
    }
    &__image {
      grid-area: 1/1/2/2;
      align-self: center;
    }
  }
}
