@import "styles/variables";

.form-group {
  margin: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  background-color: $containerColor;
  // padding: 10px;
  border-radius: 2px;
  margin-top: 60px;

  &__title {
    margin-top: 60px;
  }
  &__diary {
    margin-top: 30px;
    &__button {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
}

.schedule-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: space-between;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  background-color: rgb(240, 240, 240);
  border-left: 1px solid $black;
  p {
    border-right: 1px solid $black;
    flex: 1 1 0px;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $tablet) {
      padding: 10px;
    }
    &:first-child {
      text-align: center;
      font-size: 0.8em;
    }
  }
  input {
    margin: 0;
  }
  //Make boxes same size smh
}
